

@media #{$small-only} {
    .small-hide {
        display: none;
    }
}

@media #{$medium-only} {
    .medium-hide {
        display: none;
    }
}

@media #{$large-only} {
    .large-hide {
        display: none;
    }
}

@media #{$xlarge-only} {
    .xlarge-hide {
        display: none;
    }
}

@media #{$xxlarge-only} {
    .xxlarge-hide {
        display: none;
    }
}