

.coupon-info-box {
    display: block;
    border: 1px solid $smoke;
    border-radius: $global-radius;
    margin: 0;
    padding: 0;
    @include clearfix();
}

.coupon-info-box-content {
    display: block;
    padding: 0;
    margin: 1em;
}