

.coupon-form-buyout {
    display: block;
    border: 2px solid $smoke;
    border-radius: $global-radius;
    margin: 0;
    padding: 0;
    @include clearfix();

    & + & {
        margin-top: $base-line-height-rem;
    }
}

.coupon-form-buyout-content {
    display: block;
    padding: 0;
    margin: $base-line-height-rem;
}