

@media #{$medium-up} {

    .nav.nav-dropdown {
        display: none;
        position: absolute;
        min-width: $nav-dropdown-min-width;
        right: 0;
        transition: all .1s;
        box-shadow: 0 0 0 transparent;

        & > li {
            display: block;
            float: none;

            & > a {
                display: block;
                // height: 50px;
                // line-height: 50px;
                vertical-align: middle;
                background-color: $white;
                padding: 15px 20px;
                margin: 0;
                text-decoration: none;
                color: $primary-color;
                font-weight: 100;
                transition: all .1s;

                &.active,
                &:hover {
                    background-color: $primary-color;
                    color: $white;
                    transition: all .1s;
                }

            }

            &:first-of-type,
            &.first {

                & > a {
                    border-top-left-radius: $nav-dropdown-radius;
                }
            }

            &:last-of-type,
            &.last {

                & > a {
                    border-bottom-left-radius: $nav-dropdown-radius;
                    border-bottom-right-radius: $nav-dropdown-radius;
                }
            }
        }
    }


    .nav > li {

        &:hover {

            & > .nav.nav-dropdown{
                border-radius: $nav-dropdown-radius 0 $nav-dropdown-radius $nav-dropdown-radius;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
                display: block;
                transition: all .1s;
            }
        }
    }
}

