

@media #{$medium-up} {

    .nav.nav-main {

        & > li {
            display: block;
            height: ($base-line-height-rem * 3);
            float: left;
            position: relative;

            & > a {
                display: block;
                height: ($base-line-height-rem * 3);
                line-height: ($base-line-height-rem * 3);
                vertical-align: middle;
                background-color: $white;
                padding: 0 ($base-line-height-rem * .5);
                margin: 0;
                text-decoration: none;
                color: $primary-color;
                font-weight: 100;
                transition: all .1s;


                &.active,
                &:hover {
                    background-color: $primary-color;
                    color: $white;
                    transition: all .1s;
                }
            }

            &.active, &:hover {

                & > a {
                    background-color: $primary-color;
                    color: $white;
                    transition: all .1s;
                }
            }

            &.first {

                & > a {
                    border-radius: 10px 0 0 10px;
                }
            }

            &:last-child,
            &.last {

                & > a {
                    border-radius: 0 10px 10px 0;
                }

                &:hover {

                    & > a {

                        border-radius: 0 10px 0 0;
                    }
                }
            }
        }
    }
}


@media #{$large-up} {

    .nav.nav-main {

        & > li {

            & > a {
                padding: 0 ($base-line-height-rem);
            }
        }
    }
}

