

.nav.nav-dropdown {
    display: none;
    position: absolute;
    min-width: 300px;
    right: 0;
    transition: all .1s;
    box-shadow: 0 0 0 transparent;

    & > li {
        display: block;
        float: none;

        a {
            display: block;
            height:50px;
            line-height: 50px;
            vertical-align: middle;
            background-color: $white;
            padding: 0 20px;
            margin: 0;
            text-decoration: none;
            color: $primary-color;
            font-weight: 100;
            transition: all .1s;

            &.active,
            &:hover {
                background-color: $primary-color;
                color: $white;
                transition: all .1s;
            }

        }

        &.first {

            a {
                border-radius: 10px 0 0 0;
            }
        }

        &.last {

            a {
                border-radius: 0 0 10px 10px;
            }
        }
    }
}


.nav li {

    &:hover {

        .nav.nav-dropdown{
            border-radius: 10px 0 10px 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
            display: block;
            transition: all .1s;
        }
    }
}

