
/**
 * Page Main
 */
.page-main {
    background-color: $white;
}

@media #{$large-up} {

    .page-main {
        background-color: transparent;
    }
}


.page-width-content {
    max-width: $row-width;
    margin: 0 auto;
}



/**
 * Page Main - Content
 */
.page-main-content {
    display: block;
    background-color: $white;
    border: 0 none;
    margin: 0;
    padding: 0;
}


@media #{$medium-up} {

    .page-main-content {
        // padding: ($base-line-height-rem * 2) 0;
    }

    .page-width-content {
        padding: 0 $base-line-height-rem;
    }
}

@media #{$large-up} {

    .page-main-content {
        border-radius: rem-calc(10) rem-calc(10) 0 0;
        // padding: rem-calc(40);
        padding: 0;
    }

    .page-width-content {
        padding-left: rem-calc(40);
        padding-right: rem-calc(40);
    }
}


.page-main-section {
    margin: 0;
    padding: 0;
    @include clearfix();

    &.section-terms {
        margin-left: (-($column-gutter/2));
        margin-right: (-($column-gutter/2));
        padding-left: ($column-gutter/2);
        padding-right: ($column-gutter/2);

        @media #{$large-up} {
            margin: 0;
            padding: 0;
        }
    }
}

.page-main-section-content {
    padding: 0;
    margin: ($base-line-height-rem * 3) 0;
}

@media #{$large-up} {

    .page-main-section-content {
        margin-left: rem-calc(40);
        margin-right: rem-calc(40);

        &.section-header {
            margin-top: rem-calc(40);
        }
    }
}



/**
 * Page Brand Logo
 */
.page-brand-logo {
    font-size: 10px;
    position: relative;
    display: block;
    width: em-calc(288);
    height: em-calc(220);
    background: transparent url('../images/theme/background-logo.png') 0 0 no-repeat;
    background-size: em-calc(288) em-calc(216);
    padding: 0;
    margin: 0;

    > a {
        display: block;
        background: transparent url('../images/theme/studio-fit-raz-dva-logo.png') 0 0 no-repeat;
        background-size: em-calc(243) em-calc(167);
        width: em-calc(243);
        height: em-calc(167);
        position: absolute;
        overflow: hidden;
        text-decoration: none;
        text-indent: -9999px;
        top: em-calc(20);
        left: em-calc(20);
        right: auto;
        bottom: auto;
    }
}

@media #{$large-up} {

    .page-brand-logo {
        font-size: 100%;
        height: em-calc(216);
        margin-bottom: $base-line-height-rem;
    }
}



/**
 * Main Navigation container
 */
.main-navigation {
    position: absolute;
    z-index: 100;
    top: ($base-line-height-rem * 2);
    right: rem-calc(40);
    display: block;
}

@media #{$large-up} {

    .main-navigation {
        top: ($base-line-height-rem * 4);
    }
}




/**
 * Page Footer
 */
.page-footer {
    padding-top: rem-calc(110);
    background: transparent url('../images/theme/background-footer-small.jpg') top center;
    background-repeat: no-repeat;

    .footer-header {
        margin-bottom: ($base-line-height-rem * 0.65);
        @extend .text-shadow;
    }

    .menu {
        color: #781036;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        margin-left: 0;
        list-style: none;
    }

    .menu-item {
        position: relative;

        &:before {
            content: "•";
            width: 1.1rem;
            display: inline-block;
            text-align: center;
            padding-right: 0.3rem;
        }
    }
}

@media #{$medium-up} {
    .page-footer {
        background-image: url('../images/theme/background-footer-medium.jpg');
    }
}

@media #{$large-up} {
    .page-footer {
        background-image: url('../images/theme/background-footer-large.jpg');
    }
}


/**
 * Page Footer - signature
 */
.page-footer-signature {
    margin: 0;
    padding: $base-line-height-rem 0;
    padding-top: $base-line-height-rem * 2;
    color: $primary-color;
}

@media #{$medium-up} {

    .page-footer-signature {
        background-image: url('../images/theme/SignFooter_bg.png');
        background-position: top center;
        background-repeat: no-repeat;
    }
}
