

.panel {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    padding: $base-line-height-rem;
    margin-bottom: $base-line-height-rem;
    border-radius: $global-radius;

    .panel-content {
        display: block;
        margin: 0;
        margin-bottom: -($base-line-height-rem);
        padding: 0;
    }

    &.panel-header {
        border-width: 2px;
        border-color: #C680A4;
        border-radius: rem-calc(10);
        background-color: rgb(102,35,55);
        background-color: rgba(102,35,55,.7);
    }
}