


@media #{$small-only} {
    .small-hide {
        display: none;
    }
}

@media #{$medium-only} {
    .medium-hide {
        display: none;
    }
}

@media #{$large-only} {
    .large-hide {
        display: none;
    }
}